<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Welcome to Campus Events!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgerActions.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
	{{{ body }}}

	  {{!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> --}}
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  
</body>

</html>
